<br>
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<br>
<%= link_to "Go back to task list", tasks_path(@tasks) %>
<%= link_to "Add a new Task", new_task_path %>
<%= link_to "Edit a Task", edit_task_path %>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
